.entry-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(328px, 328px));
  margin-bottom: 32px;
}

.entry {
  width: 100%;
}

.entry img {
  width: 100%;
  border-radius: var(--border-radius);
}

.entry p {
  line-height: 1.7em;
}