---
import Layout from "../layouts/Layout.astro";
import BlogEntryList from "../components/BlogEntryList.astro";
import { Image } from "astro:assets";

import rssIcon from "../resources/rss.svg";
---

<Layout title="Aaron Czichon - Blog">
  <main class="container">
    <article>
      <h1>
        Blog <a title="Yeah RSS is still cool!" href="/rss.xml"
          ><Image
            style="width: 25px; height: 25px"
            src={rssIcon}
            alt="RSS Icon for subscribe to RSS feed."
            widths={[30]}
            sizes={`30px`}
          /></a
        >
      </h1>
      <p>
        My blog represents my own opinions and does not represent any other
        person or companies (except if explicit mentioned). It contains articles
        and tiny thoughts about my daily life, software development and a lot of
        other things. <br />
        I'm trying my best to everyone feel comfortable to read my content and don't
        want to offend anyone. <br />
        But I'm also a human being. So if there is anything you don't like or you
        feel offended by, please let me know. <br />
      </p>
    </article>
    <BlogEntryList />
  </main>
</Layout>
