---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const allPosts = await getCollection("blog");

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout title="Aaron Czichon - Home">
  <main class="container">
    <article>
      <h1>Hi, I'm Aaron!</h1>
      <p>
        I work at <a target="_blank" href="https://plan-b-gmbh.com"
          >PlanB. GmbH</a
        > since September 2020 as an Solution Expert with focus on web technologies.
        In previous years I worked at cellent AG as a developer and at a startup
        as Head of Software Development.
      </p>
      <p>
        Over the past few years of software development I wrote several apps,
        articles and talked at conferences. Since August 2022 I'm listed as an
        official <a target="_blank" href="https://ionic.io/community"
          >Ionic Developer Expert (IDE)</a
        >.
      </p>
      <p>
        You can also take a look at my public <a
          target="_blank"
          href="https://github.com/aaronczichon">Github</a
        > profile or let me hear something from you on <a
          target="_blank"
          href="https://mastodon.social/@czichon">Mastodon</a
        >.
      </p>
      <p>
        Need a conversation starter? <br /> I like motorcycling, volleyball and Formula
        1.
      </p>
      <p>If you have questions don't hesitate to contact me.</p>
      <p>
        Want to talk to me? <a
          target="_blank"
          href="https://cal.com/aaronczichon/30min">Book</a
        > a slot if you like. I would love to chat :)
      </p>
    </article>
    <h2>My latest blog entries</h2>
    <div class="entry-grid">
      {
        allPosts
          .sort((a, b) => {
            return a.data.pubDate > b.data.pubDate ? -1 : 1;
          })
          .slice(0, 5)
          .map((post) => (
            <a href={"/blog/" + post.slug} class="entry">
              {post.data.image ? (
                <Image
                  widths={[700]}
                  sizes={`700px`}
                  src={post.data.image.url}
                  alt={post.data.image.alt}
                  style="max-height: 350px; width: 100%; object-fit: cover;"
                />
              ) : null}
              <h3>
                {post.data.title}
                <span class="entry--date">
                  {new Date(post.data.pubDate).toLocaleDateString(
                    "en-CA",
                    dateOptions,
                  )}
                </span>
              </h3>
              <p>{post.data.description}</p>
            </a>
          ))
      }
    </div>
    <a href="/blog" style="padding-bottom: 32px">read more...</a>
  </main>
</Layout>
