.blog-entry {
	line-height: 1.7em;
}

.blog-entry img {
	width: 100%;
	max-height: 450px;
	object-fit: contain;
}

.blog-entry blockquote {
	text-align: center;
	font-style: italic;
	margin-top: 0;
}

.blog-entry blockquote p {
	margin-top: 0;
}

th,
td {
	text-align: left;
}

th,
td {
	padding: 0 8px;
}
