---
import Layout from "../layouts/Layout.astro";
import CircleMap from "../components/dynamic/CircleMap";
---

<Layout title="Canada - Karte">
  <main class="container">
    <h1>Karte</h1>
    <p>
      Du willst wissen wo wir uns aktuell aufhalten? Hier findest du unsere
      aktuellen Orte. <br />
      Aktuell befinden wir uns in Halifax, Nova Scotia. Die Karte wird dann über
      das Jahr hinweg aktualisiert.
    </p>
    <CircleMap
      client:visible
      zoom="10"
      center={[-63.582687, 44.65107]}
      circleCenter={[-63.582687, 44.65107]}
    />
  </main>
</Layout>
