---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

const { frontmatter } = Astro.props;
---

<Layout title={"Aaron Czichon - " + frontmatter.title}>
  {
    frontmatter.image ? (
      <Hero url={frontmatter.image.url} alt={frontmatter.image.alt} />
    ) : (
      ""
    )
  }
  <main class="container">
    <h1>{frontmatter.title}</h1>
    <slot />
  </main>
</Layout>
