---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BlogEntryList from "../components/BlogEntryList.astro";
import Divider from "../components/Divider.astro";
import HeroImage from "../resources/hero.jpeg";

const { frontmatter } = Astro.props;
---

<Layout title={"Aaron Czichon - " + frontmatter.title}>
  <Hero
    image={HeroImage}
    alt="Showing Aaron in the forebround on the right side in a dark green hoodie with a sunny landscape in the background"
  />
  <main class="container">
    <article>
      <slot />
    </article>
    <Divider margin="32px 0 32px 0" />
    <h2>My latest blog entries</h2>
    <BlogEntryList limit="4" />
    <a href="/blog" style="padding-bottom: 32px">read more...</a>
  </main>
</Layout>
