.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.button {
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	border: var(--box-border);
	border-radius: var(--box-border-radius);
	padding: 12px;
}
