pre.astro-code {
	line-height: 1.3em;
	padding-top: 8px;
	padding-bottom: 8px;
}

pre > code {
	overflow: auto;
	max-width: 100%;
	display: block;
}

code > span {
	padding-left: 8px;
}

p > code,
em > code {
	background-color: var(--bg-color-simple-code);
	padding: 2px 4px 2px 4px;
	font-size: var(--inline-code-font-size);
}
