:root {
	/**
	 * Font related stuff
	 */
	--h1-font-size: 1.7em;
	--h2-font-size: 1.3em;
	--default-small-font-size: 0.9em;

	/**
	 * Colors
	 */
	/* --primary-color: #4f627f; */
	--primary-color: #5b8e7d;
	--primary-color-dark: #0b1733;
	--primary-color-light: #c9d7dd;
	--secondary-color: #e8c872;
	--secondary-color-light: #fff3cf;
	--secondary-color-ultra-light: #ffffff;
	--secondary-color-ultra-light-shade: #f2f2f2;

	--background-color: var(--secondary-color-ultra-light);
	--heading-color: var(--primary-color-dark);
	--primary-font-color: var(--primary-color-dark);
	--bg-color-simple-code: var(--primary-color-light);
	--inline-code-font-size: var(--default-small-font-size);
	--link-color: var(--primary-font-color);
	--blog-entry-details: var(--secondary-color-ultra-light-shade);

	/**
	 * Box border
	 */
	--box-border: 2px solid var(--primary-color);
	--box-border-radius: 8px;

	/**
	 * Navigation related variables
	 */
	--nav-margin: 1rem 0 1rem 0;
	--nav-border: 2px solid var(--primary-color-dark);
	--nav-border-radius: var(--box-border-radius);
	--entry-date-margin: 0 0 0 0;

	/**
	 * Projects
	 */
	--project-border: 2px solid var(--primary-color-light);
}

/**
 * Future Colors:
 * #8CB369, #F4E285, #F4A259, #5B8E7D, #BC4B51
 */
