---
import Layout from "../layouts/Layout.astro";
import CVList from "../components/CVList.astro";
---

<Layout title="Aaron Czichon - CV">
  <main class="container">
    <article>
      <h1>My Journey</h1>
      <p>
        I started my career after school in 2010. I collected over 11 years of
        experience in software development, building a development team,
        speaking at conferences, writing articles and training people to become
        familiar with several web development related topics in workshops.
      </p>
      <p>
        You can also download the full CV as a PDF <a
          href="https://directus.aaronczichon.de/assets/073083ac-df38-4a56-b268-c1f045e9cef2"
          target="_blank">here</a
        >.
      </p>
    </article>
    <CVList />
  </main>
</Layout>
