---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aaron Czichon - Links">
  <main class="container">
    <h1>More on this site</h1>
    <ol class="note-list">
      <li class="note-list-item">
        <a class="note-list-item--default" href="/notes/"> Notes </a>
        <hr />
      </li>
    </ol>
    <li class="note-list-item">
      <a class="note-list-item--default" href="/cv/"> CV </a>
      <hr />
    </li>
  </main>
  <li class="note-list-item">
    <a class="note-list-item--default" href="/visited-countries/">
      Visited countries
    </a>
    <hr />
  </li>
</Layout>
