---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aaron Czichon - More">
  <main class="container">
    <h1>More on this site</h1>
    <p>Things that may could also be interesting.</p>
    <ol class="note-list">
      <li class="note-list-item">
        <a class="note-list-item--default" href="/notes/"> Notes </a>
        <hr />
      </li>
      <li class="note-list-item">
        <a class="note-list-item--default" href="/cv/"> CV </a>
        <hr />
      </li>
      <li class="note-list-item">
        <a class="note-list-item--default" href="/carry/"> Everday carry </a>
        <hr />
      </li>
      <li class="note-list-item">
        <a class="note-list-item--default" href="/visited-countries/">
          Visited countries
        </a>
        <hr />
      </li>
      <li class="note-list-item">
        <a class="note-list-item--default" href="/where/"> Where </a>
        <hr />
      </li>
      <li class="note-list-item">
        <a class="note-list-item--default" href="/changelog/"> Changelog </a>
        <hr />
      </li>
    </ol>
  </main>
</Layout>
