---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aaron Czichon - Home">
	<main>
		<article>
			<h1>Hi I'm Aaron,</h1>
			I work at PlanB. GmbH since September 2020 as an Solution Expert with focus on web
			technologies. In previous years I worked at cellent AG as a developer and at a startup as
			Head of Software Development.
			<br /><br />
			Over the past few years of software development I wrote several apps, articles and talked at
			conferences. Since August 2022 I'm listed as an official Ionic Developer Expert (IDE).
			<br /><br />
			You can also take a look at my public Github profile or let me hear something from you on
			Twitter.
			<br /><br />
			Need a conversation starter? I like motorcycling, volleyball and Formula 1.
			<br /><br />
			If you have questions don't hesitate to contact me.
			<br /><br />
			Want to talk to me? Book a slot if you like. I would love to chat :)
		</article>
		<h2>Newest entries</h2>
		<div class="entry-grid">
			<a href="blog-entry.html" class="entry">
				<img src="./assets/images/example.jpeg" alt="Winter Days" />
				<h3>January 24 Winter Days<span class="entry--date">21. January 2024</span></h3>
				<p>Images from January took with the iPhone 15 Pro Max.</p>
			</a>
			<a href="blog-entry.html" class="entry">
				<img src="./assets/images/example.jpeg" alt="Winter Days" />
				<h3>Year Review 2023<span class="entry--date">21. January 2024</span></h3>
				<p>
					My year 2023 in review. Mostly for myself bug also I wanted to share it with the world.
					Maybe it's helpful.
				</p>
			</a>
			<a href="blog-entry.html" class="entry">
				<img src="./assets/images/example.jpeg" alt="Winter Days" />
				<h3>More than 3 years at PlanB.<span class="entry--date">21. January 2024</span></h3>
				<p>
					I work now for more than 3 years at the same company. And I hope there will be a lot to
					come!
				</p>
			</a>
			<a href="blog-entry.html" class="entry">
				<img src="./assets/images/example.jpeg" alt="Winter Days" />
				<h3>
					Getting started with Trapeze and Github (Part 1)<span class="entry--date"
						>21. January 2024</span
					>
				</h3>
				<p>
					Technical blog post on how you could use Trapeze and Github to automate your release
					pipeline with Github Actions.
				</p>
			</a>
		</div>
	</main>
</Layout>