---
import Hero from '../components/Hero.astro';
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={"Aaron Czichon - " + frontmatter.title}>
  {
    frontmatter.image ? (
      <Hero url={frontmatter.image.url} alt={frontmatter.image.alt} />
    ) : (
      ""
    )
  }
  <main class="container">
    <article>
      <h1>{frontmatter.title}</h1>
      <slot />
    </article>
  </main>
</Layout>
