---
interface Props {
  title: string;
  imgUrl?: string;
}

const { title, imgUrl } = Astro.props;

import "../styles/index.css";
import "../styles/fonts/mona-sans.css";

import Nav from "../components/Nav.astro";
import ColorSchemeToggle from "../components/ColorSchemeToggle.astro";
import MatomoTracking from "../components/MatomoTracking.astro";
import Banner from "../components/EUBanner.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Personal website of Aaron Czichon, Software & Web Engineer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/jpg"
      href="/assets/icons/refresh_squared.jpg"
    />
    <link
      rel="preload"
      href="/assets/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Aaron Czichon Blog - RSS Feed"
      href={`${Astro.site}rss.xml`}
    />
    {imgUrl ? <meta property="og:image" content={imgUrl} /> : ""}
    <title>{title}</title>
  </head>
  <body>
    <Banner />
    <ColorSchemeToggle />
    <Nav />
    <slot />
    <MatomoTracking />
  </body>
</html>
