---
import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";

const { frontmatter } = Astro.props;
---

<Layout
  title={"Aaron Czichon - Blog - " + frontmatter.title}
  imgUrl={frontmatter.image?.src || ""}
>
  {
    frontmatter.image ? (
      frontmatter.image.src ? (
        <Hero url={frontmatter.image.src} alt={frontmatter.image.alt} />
      ) : (
        <Hero image={frontmatter.image.url} alt={frontmatter.image.alt} />
      )
    ) : (
      ""
    )
  }
  <main class="container">
    <article class="blog-entry">
      <slot />
    </article>
  </main>
</Layout>
./Layout.astro
