---
import { Image } from 'astro:assets';
import BlogEntryList from '../components/BlogEntryList.astro';
import Divider from '../components/Divider.astro';
import Layout from './Layout.astro';

import NoteEntryList from '../components/NoteEntryList.astro';
import rssIcon from '../resources/rss.svg';

const { frontmatter } = Astro.props;
---

<Layout title={"Aaron Czichon - " + frontmatter.title}>
  <main class="container">
    <article>
      <slot />
    </article>
    <Divider margin="32px 0 32px 0" />
    <h2>
      My latest blog entries <a title="Yeah RSS is still cool!" href="/rss.xml"
        ><Image
          style="width: 25px; height: 25px"
          src={rssIcon}
          alt="RSS Icon for subscribe to RSS feed."
          widths={[30]}
          sizes={`30px`}
        /></a
      >
    </h2>
    <BlogEntryList limit="4" />
    <a href="/blog" style="padding-bottom: 32px">read more...</a>
    <Divider margin="32px 0 32px 0" />
    <h2>
      My latest notes <a title="Yeah RSS is still cool!" href="/notes/rss.xml"
        >
        <Image
          style="width: 25px; height: 25px"
          src={rssIcon}
          alt="RSS Icon for subscribe to RSS feed."
          widths={[30]}
          sizes={`30px`}
        />
        </a
      >
    </h2>
    <NoteEntryList limit="4" />
    <a href="/notes" style="padding-bottom: 32px">read more...</a>
    <Divider margin="32px 0 32px 0" />
    <h2>More</h2>
    <ul>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="/notes">Notes</a> - Everything that is too small for a blog post.
      </li>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="/cv">CV</a> - My resume and where I work(ed).
      </li>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="/carry">Everyday carry</a> - Things I use every day.
      </li>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="/visited-countries">Visited countries</a> - All the countries I've visited so far.
      </li>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="/where">Where</a> - Where am I right now?
      </li>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="/blog/29-app-defaults-dez-2024">App Defaults (2024)</a> - My current app defaults on my computer.
      </li>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="https://canada.aaronczichon.de" target="_blank">Canada Website</a> - My dedicated website related to my Canada trips.
      </li>
      <li class="note-list-item note-list-item--style note-list-item--padding">
        <a href="https://obsidian-location.czichon.cloud" target="_blank">Obsidian Location Plugin</a> - My plugin for Obsidian to render locations as image into your notes.
      </li>
    </ul>
  </main>
</Layout>
