---
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const { limit } = Astro.props;
---

<div class="entry-grid">
  {
    allPosts
      .sort((a, b) => {
        return a.data.pubDate > b.data.pubDate ? -1 : 1;
      })
      .slice(0, limit)
      .map((post) => (
        <a href={"/blog/" + post.slug} class="entry">
          <h3>
            {post.data.title} <br />
            <span class="entry--date">
              {new Date(post.data.pubDate).toLocaleDateString(
                "en-CA",
                dateOptions,
              )}
            </span>
          </h3>
          <p>{post.data.description}</p>
        </a>
      ))
  }
</div>
