---
import { getCollection } from 'astro:content';
import { fetchNotes } from '../functions/notes.func';

const items = await fetchNotes();

const dateOptions: object = {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
};

const { limit } = Astro.props;
---

<div class="entry-grid">
  {
    items
      .sort((a: any, b: any) => {
        return a.date_created > b.date_created ? -1 : 1;
      })
      .slice(0, limit)
      .map((post: any) => (
        <a href={"/notes/" + `#${post.id}`} class="entry">
          <h3>
            {post.title} <br />
            <span class="entry--date">
              {new Date(post.date_created).toLocaleDateString(
                "en-CA",
                dateOptions,
              )}
            </span>
          </h3>
        </a>
      ))
  }
</div>
