---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from "astro:assets";

const dateOptions: object = {
	year: "numeric",
	month: "short",
	day: "numeric",
};

const allPosts = await getCollection('blog');
---

<Layout title="Canada - Blog">
	<main class="container">
    <h1>Blog</h1>
    <p>
      Alle bisherigen Einträge findest du hier. <br />
    </p>
    <div class="entry-grid">
      {allPosts.map((post) => 
        <a href={'/blog/' + post.slug} class="entry">
         {post.data.image ? <Image
          src={post.data.image.url}
          alt={post.data.image.alt}
          style="max-height: 400px; width: 100%; object-fit: cover;" /> : null }
        <h3>{post.data.title}<span class="entry--date">{new Date(post.data.pubDate).toLocaleDateString("en-CA", dateOptions)}</span></h3>
        <p>{post.data.description}</p>
        </a>
      )}
    </div>
  </main>
</Layout>