---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Canada - Karte">
	<main class="container">
    <h1>Karte</h1>
    <p>Du willst wissen wo wir uns aktuell aufhalten? Hier findest du unsere aktuellen Orte. <br/>
    Aktuell befinden wir uns in Halifax, Nova Scotia. Die Karte wird dann über das Jahr hinweg aktualisiert.
    </p>
    <div id="map" class="map-container"></div>
  </main>
</Layout>
<script is:inline src="/assets/scripts/mapbox-gl-3.2.0.js"></script>
<script is:inline src="/assets/scripts/map.js"></script>