---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Find Pengiun'>
	<main class="container">
  <article>
    <h1>Find Pengiun</h1>
    <p>
      Wir sind auch etwas in den sozialen Netzen aktiv. Speziell für den Urlaub nutzen wir die Urlaubsapp <a href="https://findpenguins.com/" target="_parent">Find Pengiun</a>.  
    </p>
    <p>
      Dort posten wir von Tag zu Tag Kleinigkeiten in Form eines Microblogs (wie man es von Twitter, Mastodon oder Facebook gewohnt ist). 
      <br /> Größere Zusammenfassungen und Berichte gibt es hier auf dem Blog.
    </p>
  </article>
  </main>
</Layout>