name: PR Builds Aaron Czichon

on:
  pull_request:
    branches:
      - main

jobs:
  check-links:
    name: Check Links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v2.0.2
        with:
          args: --base ./site/src/content --verbose --no-progress './**/*.md' --max-concurrency 10 --exclude cloudflarestream\.com --exclude '/changelog' --exclude buymeacoffee\.com --exclude thestorygraph\.com --exclude-path **/*/LICENSE.md
          # Use json as output format (instead of markdown)
          #format: json
      - uses: actions/upload-artifact@v4
        with:
          name: link-report.md
          path: ./lychee/out.md